<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ch05</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RequestParamsServlet</servlet-name>
    <servlet-class>com.shi.ch05.servlet.RequestParamsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestParamsServlet</servlet-name>
    <url-pattern>/RequestParamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Book</display-name>
    <servlet-name>Book</servlet-name>
    <servlet-class>com.shi.ch05.servlet.Book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book</servlet-name>
    <url-pattern>/Book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDB</display-name>
    <servlet-name>BookDB</servlet-name>
    <servlet-class>com.shi.ch05.servlet.BookDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDB</servlet-name>
    <url-pattern>/BookDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListBookServlet</display-name>
    <servlet-name>ListBookServlet</servlet-name>
    <servlet-class>com.shi.ch05.servlet.ListBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListBookServlet</servlet-name>
    <url-pattern>/ListBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseServlet</display-name>
    <servlet-name>PurchaseServlet</servlet-name>
    <servlet-class>com.shi.ch05.servlet.PurchaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseServlet</servlet-name>
    <url-pattern>/PurchaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cartservlet</display-name>
    <servlet-name>Cartservlet</servlet-name>
    <servlet-class>com.shi.ch05.servlet.Cartservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cartservlet</servlet-name>
    <url-pattern>/Cartservlet</url-pattern>
  </servlet-mapping>
</web-app>